@import "tailwindcss";

@layer utilities {
    .noscrollbar::-webkit-scrollbar {
        display: none
    }
    .no-scrollbar {
        -ms-overflow-style : none;
        scrollbar-width: none;
    }
}